<div id="tweet_form">
  <% if current_user %>
  <%= form_tag(twitter_client_index_path) do %>
  <%= label_tag "Post Tweet" %>
  <%= text_field_tag("tweet")  %>
  <%= submit_tag "Submit" %>
  <% end %>
  <% end%>
</div>

<h1>Tweets</h1>
<% if @tweets %>
<ul class="tweets">
  <% @tweets.each do |tweet| %>
  <li class="tweet"><%= tweet.text %></li>
  <% end %>
</ul>
<% else %>
<h1>You have no tweets</h1>
<% end %>

<h1>Mentions</h1>
<% if @tweets %>
<ul class="mentions">
  <% @mentions.each do |mention| %>
  <li class="mention">
    <p><b><%= mention.user.screen_name %></b> says: </p>
    <p><%= mention.text %></p>
    <p>their score is: <%= mention.user_klout_score %></p>
  </li>
  <% end %>
</ul>
<% else %>
<h1>You have no mentions</h1>
<% end %>
