  <script>
  $(document).ready(function(){
    map = new GMaps({
      div: '#map',
      lat:  39.738436,
      lng: -104.984859,
      height: "400px",
      width: "100%",
      zoom: 12
    });

    GMaps.geocode({
      address: "<%= @location %>",
      callback: function(results, status) {
        if (status == 'OK') {
          var latlng = results[0].geometry.location;
          map.setCenter(latlng.lat(), latlng.lng());
          }
        }
      });

    var mentions = <%= @mentions_data %>;
    for (var i = 0; i < mentions.length; i ++) {
      map.addMarker({
        lat: mentions[i][0],
        lng: mentions[i][1],
        title: "Yo",
        infoWindow: {
          content: mentions[i].text
        }
      });
    }
  })
  </script>
<div id="tweet_form">
  <% if current_user %>
  <%= form_tag(twitter_client_index_path) do %>
  <%= label_tag "Post Tweet" %>
  <%= text_field_tag("tweet")  %>
  <%= submit_tag "Submit" %>
  <% end %>
  <% end%>
</div>



<div id="map"> </div>



<h1>Tweets</h1>
<% if @tweets %>
<ul class="tweets">
  <% @tweets.each do |tweet| %>
  <li class="tweet"><%= tweet.text %></li>
  <% end %>
</ul>
<% else %>
<h1>You have no tweets</h1>
<% end %>

<h1>Mentions</h1>
<% if @tweets %>
<ul class="mentions">
  <% @mentions.each do |mention| %>
  <li class="mention"><%= mention.text %></li>
  <% end %>
</ul>
<% else %>
<h1>You have no mentions</h1>
<% end %>
