<!DOCTYPE html>
<html lang="en" ng-app="socialsmartsApp">
<head>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,100italic|Josefin+Sans|Lilita+One|Pacifico' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMPvf6SDEQMMwrlpu1jp9hz_F5XdV4RaE"></script>
  <script type="text/javascript" src="http://hpneo.github.io/gmaps/gmaps.js"></script>
  <script type="text/javascript" src="https://hpneo.github.io/gmaps/prettify/prettify.js"></script>
</head>




<body ng-controller="DashboardController">

  <div class="row">
    <div class="large-1 column glass">
      <ul class="side-nav">
        <li><img id="profile_img" src="<%= current_user.image %>"></li>
        <li style="color:white;margin-bottom: 0px;"><img style="width:32px;" src="/assets/klout.png">:{{current_user_klout}}</li>
        <li><a id="simple-menu" href="#sidr" style="color:white;padding-left:4px">Menu</a></li>
        <% if current_user %>
          <li style="color:white"><%= link_to "Logout", logout_path, {style: "color:white; padding-left:4px;", method: :delete} %></li>
        <% end %>
      </ul>
    </div>


    <div ng-view></div>

    <div id="sidr">
      <div  data-alert id="messages" class="alert-box alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
      <h1>Post a Tweet</h1>
      <input class="tweet_fields" type="text"  ng-model="tweet_message" placeholder="enter tweet" required></input>
      <input class="button tiny alert" type="submit" ng-click="sendTweet(tweet_message)" ng-disabled="disabled(tweet_message)"></input> Charaters: {{length(tweet_message)}}

      <h1>Schedule a Tweet</h1>
      <input class="tweet_fields" type="text"  ng-model="stweet_message" placeholder="schedule a tweet" required></input>
      <div id="date-time">
        <input type="date" min="{{defaultDate}}" ng-model="stweet_date"></input>
        <input type="time" ng-model="stweet_time"></input>
      </div>
      <input class="button tiny alert" type="submit" ng-click="sendStweet(stweet_message, stweet_time, stweet_date)" ng-disabled="disabled(stweet_message)"></input> Characters: {{length(stweet_message)}}



      <ul>
        <h1>Followers</h1>
        <input id="tweets_search" class="search" type="text" placeholder="search followers" ng-model="followersQuery">
        <li ng-repeat-start="follower in followers | filter:followersQuery">
          <p>{{follower.screen_name}}</p>
          <p>{{follower.klout_score}}</p>
          <p>{{follower.created_at | date:'M/d/yy h:mm a' }}</p>
        </li>
        <div ng-repeat-end ng-click="track(tweet)"></div>
      </ul>
    </div>
</body>
</html>






