<!DOCTYPE html>
<html lang="en" ng-app="socialsmartsApp">
<head>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,100italic|Josefin+Sans|Lilita+One' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMPvf6SDEQMMwrlpu1jp9hz_F5XdV4RaE"></script>
  <script type="text/javascript" src="http://hpneo.github.io/gmaps/gmaps.js"></script>
  <script type="text/javascript" src="https://hpneo.github.io/gmaps/prettify/prettify.js"></script>
</head>




<body>
  <div class="row">
    <div class="large-1 column glass">
      <ul class="side-nav">
        <li><img id="profile_img" src="<%= current_user.image %>"></li>
        <a id="simple-menu" href="#sidr"><i class="fa fa-twitter fa-5" style="font-size: 15px; color:cyan">tweet</i></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
      </ul>
    </div>



    <div ng-view></div>
    <div id="sidr">

    <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
    <input type="text"  ng-model="tweet_message" placeholder="Post a Tweet" required></input>
    <input type="submit" ng-click="sendTweet(tweet_message)" ng-disabled="disabled(tweet_message)"></input>
    <h6>Charaters: {{length(tweet_message)}}</h6>

    <input type="text"  ng-model="stweet_message" placeholder="Schedule a Tweet" required></input>
    <div id="date-time" style="display:inline-flex">
      <input type="date" style="width: 60% margin-right: 5px;" min="{{defaultDate}}" ng-model="stweet_date"></input>
      <input type="time" style="width: 90%" ng-model="stweet_time"></input>
    </div>
    <input type="submit" ng-click="sendStweet(stweet_message, stweet_time, stweet_date)" ng-disabled="disabled(stweet_message)"></input>
    <h6>Characters: {{length(stweet_message)}}</h6>
  </div>
</body>
</html>
