<!DOCTYPE html>
<html>
<head>
  <title>SocialSmarts</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMPvf6SDEQMMwrlpu1jp9hz_F5XdV4RaE"></script>
  <script type="text/javascript" src="http://hpneo.github.io/gmaps/gmaps.js"></script>
  <script type="text/javascript" src="https://hpneo.github.io/gmaps/prettify/prettify.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "partials/header" %>
<%= yield %>

</body>
</html>
